body{
  font-family: 'Playfair Display', serif;
}

.navbar {
  min-height: fit-content;
}

.navbar .navbar-brand {

  font-weight: bolder;
  color: #030303;
  font-size: 1.3em;
  margin-left: 5%;
}

.nav{
  margin-left: 250px;
  
}

.nav-link{
  color: black;
  font-family: 'Playfair Display', serif;
}

.nav-link:hover{
  color: #8a6226;
}

.about-section h1{
  margin-top: 200px;
  text-align: center;
  font-size: 70px;
  color: black;
  
}

.about-section p{
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
}

.image{
  margin-left: 20px;
  margin-top: 30px;
}
/*footer section*/
.footer{
  width: 100%;
  height: 500px;
  background-color: black;
  color: #8a6226;
}
.footer{
  margin-top: 80px;
}

.footer-link{
  color: rgb(253, 247, 247);
  font-family: 'Playfair Display', serif;
}

.footer-link:hover{
  color: #8a6226;
  
}

#user{
  margin-left: 180px;
}